<ul>

  <li>
    <strong>Name:</strong>
    <%= @stuff.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @stuff.description %>
  </li>

  <li>
    <strong>Id:</strong>
    <%= @stuff.id %>
  </li>

  <li>
    <strong>Display Group:</strong>
    <%= render Laired.DisplayGroupView, "properties.html", display_group: @stuff.display_group %>
  </li>
</ul>
