<ul>

  <li>
    <strong>Id:</strong>
    <%= link "#{@stuff.id}", to: stuff_path(@conn, :show, @stuff) %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @stuff.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @stuff.description %>
  </li>

  <li>
    <strong>Display Group:</strong>
    <%= render Laired.DisplayGroupView, "properties.html", conn: @conn, display_group: @stuff.display_group %>
  </li>
</ul>
