<h2>Show stuff</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @stuff.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @stuff.description %>
  </li>

</ul>

<%= link "Edit", to: stuff_path(@conn, :edit, @stuff) %>
<%= link "Back", to: stuff_path(@conn, :index) %>
