<h2>Show hero ability</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @hero_ability.name %>
  </li>

</ul>

<%= link "Edit", to: hero_ability_path(@conn, :edit, @hero_ability) %>
<%= link "Back", to: hero_ability_path(@conn, :index) %>
