<ul>

  <li>
    <strong>Id:</strong>
    <%= link "#{@hero.id}", to: hero_path(@conn, :show, @hero) %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @hero.name %>
  </li>

  <li>
    <strong>Bag:</strong>
    <%= render Laired.BagView, "properties.html", conn: @conn, bag: @hero.bag %>
  </li>

</ul>
