<h2>Edit display group</h2>

<%= render "form.html", changeset: @changeset,
                        action: display_group_path(@conn, :update, @display_group) %>

<%= link "Back", to: display_group_path(@conn, :index) %>
