<ul>


  <li>
    <strong>Id:</strong>
    <%= link "#{@display_group.id}", to: display_group_path(@conn, :show, @display_group) %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @display_group.name %>
  </li>

  <li>
    <strong>Sprites:</strong>

    <%= for sprite <- @display_group.sprites  do %>
      <%= render Laired.SpriteView, "properties.html", conn: @conn, sprite: sprite %>
    <% end %>
  </li>

</ul>
