<div class="jumbotron">
  <h2>Welcome Hero!</h2>
  <p class="lead">Would you like to go on a quest?</p>
  <p>
    <button class="btn btn-success">Yes</button>
    <button class="btn btn-default">No, thanks</button>
  </p>
</div>
