<div class="jumbotron">
  <h2>Welcome Hero!</h2>
  <p class="lead">Would you like to go on a quest?</p>
  <p>
    <%= link "Yes", to: game_path(@conn, :game), class: "btn btn-success" %>
    <button class="btn btn-default">No, thanks</button>
  </p>
</div>
