<h2>Show sprite animation</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @sprite_animation.name %>
  </li>

</ul>

<%= link "Edit", to: sprite_animation_path(@conn, :edit, @sprite_animation) %>
<%= link "Back", to: sprite_animation_path(@conn, :index) %>
