<h2>New sprite sheet</h2>

<%= render "form.html", changeset: @changeset,
                        action: sprite_sheet_path(@conn, :create) %>

<%= link "Back", to: sprite_sheet_path(@conn, :index) %>
