<h2>Show sprite sheet</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @sprite_sheet.name %>
  </li>

</ul>

<%= link "Edit", to: sprite_sheet_path(@conn, :edit, @sprite_sheet) %>
<%= link "Back", to: sprite_sheet_path(@conn, :index) %>


<div img-sprite-sheet></div>

