<h2>Show sprite sheet</h2>

<%= render "properties.html", sprite_sheet: @sprite_sheet %>

<%= link "Edit", to: sprite_sheet_path(@conn, :edit, @sprite_sheet) %>
<%= link "Back", to: sprite_sheet_path(@conn, :index) %>


<div img-sprite-sheet></div>

