<ul>

  <li>
    <strong>Name:</strong>
    <%= @hero_skill.name %>
  </li>

  <li>
    <strong>Data:</strong>
    <ul>
        <%= for {key, value} <- @hero_skill.data do %>
            <li><%= "#{key}: #{value}" %></li>
        <% end %>
    </ul>
  </li>


</ul>
