<h2>Show hero skill</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @hero_skill.name %>
  </li>

</ul>

<%= link "Edit", to: hero_skill_path(@conn, :edit, @hero_skill) %>
<%= link "Back", to: hero_skill_path(@conn, :index) %>
