<h2>Show hero skill</h2>

<%= render "properties.html", conn: @conn, hero_skill: @hero_skill %>

<%= link "Edit", to: hero_skill_path(@conn, :edit, @hero_skill) %>
<%= link "Back", to: hero_skill_path(@conn, :index) %>
