<ul>

  <li>
    <strong>Name:</strong>
    <%= @bag.name %>
  </li>

  <li>
    <string>Stuff:</string>
    <ul>
        <%= for stuff <- @bag.stuffs  do %>
            <%= render Laired.StuffView, "properties.html", stuff: stuff %>
        <% end %>
    </ul>

</ul>
