<h2>Show bag</h2>

<%= render "properties.html", conn: @conn, bag: @bag %>

<%= link "Edit", to: bag_path(@conn, :edit, @bag) %>
<%= link "Back", to: bag_path(@conn, :index) %>

<div bag-viewer id=<%= @bag.id %> ></div>
